div {
  outline: 1px rgba(255, 0, 0, 0);
}
#startingScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: show;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0);
  z-index: 2;
}

#losingScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0);
  z-index: 3;
}

#loseScreen {
  position: absolute;
  top: 200px;
  height: 400px;
  width: 600px;
  color: black;
  left: 390px;
  background-image: url("img/losescreen.png");
  text-align: center;
}
#restartGame {
  position: absolute;
  top: 610px;
  left: 620px;
  height: 70px;
  width: 100px;
  color: black;
  margin: 0 auto;
  background: darkgreen;
  text-align: center;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  border-radius: 20px;
}

#numOfDefeated {
  background-color: rgba(255, 0, 0, 0);
  left: 490px;
  top: 150px;
}

#startGame {
  position: absolute;
  top: 200px;
  height: 400px;
  width: 600px;
  left: 390px;
  color: black;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  background-image: url("img/pressStart.png");
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-image: url("img/modalbg.png");
  background-size: cover;
  height: 450px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
}

#modal-footer {
  text-align: right;
  font-family: "Signika", sans-serif;
}

#modalTitle {
  padding-bottom: 15px;
  text-align: center;
  font-family: "Signika", sans-serif;
}

#openModal {
  position: absolute;
  top: 610px;
  left: 620px;
  height: 70px;
  width: 100px;
  color: black;
  margin: 0 auto;
  background: darkgreen;
  text-align: center;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  border-radius: 20px;
}

#close {
  padding: 14px 18px;
  background: darkgreen;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  border-radius: 20px;
}

#winningItems {
  position: absolute;
  height: 600px;
  width: 972px;
  display: none;
  left: 226px;
  margin: 0 auto;
  background-image: url("img/itemBG.png");
  z-index: 2;
}

#winningMessage {
  color: white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  font-size: 28px;
  text-shadow: 2px 2px 4px darkgreen;
}
.rewardItem {
  height: 300px;
  width: 200px;
  float: left;
  margin: 50px auto;
  margin-left: 25px;
  left: 140px;
  position: relative;
  background-image: url("img/itemReward.png");
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px darkgreen;
  color: white;
}
#rewardWeapon {
  background-image: url("img/weaponScoll.png");
  background-repeat: no-repeat;
  text-align: center;
}
#rewardArmor {
  background-image: url("img/armorScroll.png");
  background-repeat: no-repeat;
  text-align: center;
}
#rewardAbility {
  background-image: url("img/abilityscroll.png");
  background-repeat: no-repeat;
  text-align: center;
}

#weaponName,
#armorName,
#abilityName {
  padding-top: 8px;
}
#weaponDescription,
#armorDescription,
#armorDescription2,
#abilityDescription {
  font-size: 20px;
  line-height: 65%;
}

.rewardItem:hover {
  color: rgba(255, 255, 0, 1);
  box-shadow: 0 0 90px 10px #ffd700;
  cursor: pointer;
}

#container {
  position: absolute;
  height: 720px;
  width: 960px;
  left: 226px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  display: flex;
}

.numOfEnimiesDefeatedDisplay {
  position: absolute;
  width: 324px;
  height: 32px;
  text-align: center;
  top: -20px;
  color: white;
  left: 324px;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px 4px darkgreen;
}

/* Health Bars */
.playerHealthBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: darkgrey;
}

.healthBarFill {
  height: 100%;
  width: 100%;
  background: #59ea63;
  transition: width 0.5s;
}

.healthBarValue {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.enemyHealthBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: darkgrey;
}

.enemyHealthBarFill {
  height: 100%;
  width: 100%;
  background: #ff3300;
  transition: width 0.5s;
}

.enemyHealthBarValue {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.playerOneContainer {
  position: relative;
  height: 600px;
  width: 324px;
  background-image: url("img/player.png");
}

#playerPhysicalAttack,
#playerAbilityAttack,
#playerHealAbility {
  position: relative;
  height: 80px;
  width: 80px;
  top: 420px;
  border-radius: 50%;
  left: 50px;
  cursor: pointer;
  font-size: 15px;
}

#playerPhysicalAttack:active,
#playerAbilityAttack:active,
#playerHealAbility:active {
  font-size: 13px;
}

#playerPhysicalAttack:focus,
#playerAbilityAttack:focus,
#playerHealAbility:focus,
#openModal:focus,
#close:focus,
#restartGame:focus {
  outline: 0;
}

.middleContainer {
  position: absolute;
  top: 30px;
  height: 570px;
  width: 324px;
  left: 324px;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}
.combatLog {
  text-align: left;
  line-height: normal;
  padding-left: 7px;
  padding-right: 5px;
}
#logPlayerAbilityAttack {
  position: absolute;
  font-size: 32px;
  left: 800px;
  top: 120px;
  z-index: 1;
  font-weight: bold;
}
#logPlayerBasicAttack {
  position: absolute;
  font-size: 32px;
  left: 750px;
  top: 160px;
  z-index: 1;
  font-weight: bold;
}
#logPlayerHealAbility {
  position: absolute;
  font-size: 32px;
  left: 50px;
  top: 100px;
  z-index: 1;
  font-weight: bold;
}
#logEnemyBasicAttack {
  position: absolute;
  font-size: 32px;
  left: 140px;
  top: 130px;
  z-index: 1;
  font-weight: bold;
}
#logEnemyAbilityAttack {
  position: absolute;
  font-size: 32px;
  left: 80px;
  top: 170px;
  z-index: 1;
  font-weight: bold;
}
#logEnemyHealAbility {
  position: absolute;
  font-size: 32px;
  left: 720px;
  top: 80px;
  z-index: 1;
  font-weight: bold;
}

#logEnemyHealAbility,
#logPlayerHealAbility {
  color: limegreen;
  text-shadow: 2px 2px black;
}
#logEnemyBasicAttack,
#logEnemyAbilityAttack,
#logPlayerBasicAttack,
#logPlayerAbilityAttack,
#logEnemyBasicAttack {
  color: red;
  text-shadow: 2px 2px black;
}

.enemyContainer {
  position: absolute;
  height: 600px;
  width: 324px;
  left: 648px;
  background: rgba(0, 0, 0, 0);
  background-image: url(img/devilGame.png);
}

#enemyName {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px red;
}
#playerName {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px darkgreen;
}

#itemContainer {
  height: 120px;
  width: 324px;
  top: 600px;
  left: 324px;
  display: flex;
  position: absolute;
}

#itemOne,
#itemTwo,
#itemThree {
  height: 120px;
  width: 110px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  text-shadow: 2px 2px 4px darkgreen;
}
#itemOne {
  background-image: url("img/itemBoxWeap.png");
}
#itemTwo {
  background-image: url("img/itemBoxArmor.png");
}
#itemThree {
  background-image: url("img/itemBoxAbi.png");
}
#itemBoxWeaponName,
#itemBoxAbilityName,
#itemBoxArmorName {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
#itemBoxWeaponDescription,
#itemBoxArmorDescription,
#itemBoxAbilityDescription,
#itemBoxArmorDescription2 {
  margin-top: -10px;
  text-align: center;
}

#playerStats {
  height: 120px;
  width: 326px;
  top: 399px;
  position: relative;
  background-image: url("img/stats.png");

  color: white;
  text-shadow: 2px 2px 4px darkgreen;
}

#playerAttackStats,
#playerVitStats,
#playerArmorStats,
#playerAbilityStats {
  text-align: center;
  padding-top: 8px;
  line-height: 30%;
  padding-left: 10px;
}

#enemyAttackStats,
#enemyVitStats,
#enemyArmorStats,
#enemyAbilityStats {
  text-align: center;
  padding-top: 8px;
  padding-left: 10px;
  line-height: normal;
  line-height: 30%;
}
#enemyStats {
  height: 120px;
  width: 323px;
  top: 498px;
  position: relative;
  background-image: url("img/stats.png");
  color: white;
  text-shadow: 2px 2px 4px red;
}

body {
  font-family: "Signika", sans-serif;
  background-image: url("img/dungeonTexture.png");
}
