div {
  outline: 1px rgba(255, 0, 0, 0);
}
body {
  font-family: 'Signika', sans-serif;
}
#startingScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  display: show;
  margin: 0 auto;
  background-color: blue;
  z-index: 2;
}

#losingScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  margin: 0 auto;
  background-color: red;
  z-index: 3;
}

#loseScreen{
  position: relative;
  top: 200px;
  height: 200px;
  width: 300px;
  color: white;
  margin: 0 auto;
  background: darkred;
  text-align: center;
}
#restartGame{
  position: absolute;
  top: 410px;
  left: 620px;
  height: 70px;
  width: 100px;
  color: white;
  margin: 0 auto;
  background: darkred;
  text-align: center;
	cursor: pointer;
  font-family: 'Signika', sans-serif;
  border-radius: 20px;
}

#numOfDefeated{
  background-color: rgba(255, 0, 0, 0);
  left: 460px;
  top: 150px;
}

#startGame{
  position: relative;
  top: 200px;
  height: 200px;
  width: 300px;
  color: white;
  margin: 0 auto;
  background: darkred;
  text-align: center;
  cursor: pointer;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
}

#modal-footer {
	text-align: right;
  font-family: 'Signika', sans-serif;
}

#modalTitle {
	padding-bottom: 15px;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

#openModal {
  position: absolute;
  top: 410px;
  left: 620px;
  height: 70px;
  width: 100px;
  color: white;
  margin: 0 auto;
  background: darkred;
  text-align: center;
	cursor: pointer;
  font-family: 'Signika', sans-serif;
  border-radius: 20px;
}

#close{
  padding: 14px 18px;
	background: darkred;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
  font-family: 'Signika', sans-serif;
  border-radius: 20px;
}

#winningItems {
  position: absolute;
  height: 600px;
  width: 972px;
  display: none;
  left: 226px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
}

#winningMessage{
  color: white;
  text-align: center;
  padding-left: 5px;
  padding-top: 5px;
}
.rewardItem {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 100px auto;
  margin-left: 25px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  left: 130px;
  position: relative;
  background-color: red;

}

.rewardItem:hover{
  color: rgba(255, 255, 0, 1);
  box-shadow: 0 0 90px 20px #0ff;
  cursor: pointer;
}


#container{
  position: absolute;
  height: 720px;
  width: 960px;
  display: flex;
  left: 226px;
  margin: 0 auto;
}
.numOfEnimiesDefeatedDisplay{
  position: absolute;
  width: 324px;
  height: 32px;
  text-align: center;
  top: -20px;
  color: white;
  left: 324px;
  background-color: black;
}

/* Health Bars */
.playerHealthBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: grey;
}

.healthBarFill{
  height: 100%;
  width: 100%;
  background: #59ea63;
  transition: width 0.5s;
}

.healthBarValue{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.enemyHealthBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: grey;

}

.enemyHealthBarFill{
  height: 100%;
  width: 100%;
  background: #ff3300;
  transition: width 0.5s;
}

.enemyHealthBarValue{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.playerOneContainer{
  position: relative;
  height: 600px;
  width: 324px;
  background: green;
}

#playerPhysicalAttack, #playerAbilityAttack, #playerHealAbility {
  position: relative;
  height: 80px;
  width: 80px;
  top: 420px;
  border-radius: 50%;
  left: 50px;
  cursor: pointer;
  font-size: 15px;
}

#playerPhysicalAttack:active, #playerAbilityAttack:active, #playerHealAbility:active{
  font-size: 13px;
}

#playerPhysicalAttack:focus, #playerAbilityAttack:focus, #playerHealAbility:focus, #openModal:focus, #close:focus, #restartGame:focus{
  outline: 0;
}

.combatLogContainer{
  position: absolute;
  top: 30px;
  height: 570px;
  width: 324px;
  left: 324px;
  background: darkgrey;
  z-index: -1;
}
.combatLog{
  text-align: left;
  line-height: normal;
  padding-left: 7px;
  padding-right: 5px;
}

#logPlayerBasicAttack, #logPlayerAbilityAttack, #logPlayerHealAbility{
  color: green;
}
#logEnemyBasicAttack, #logEnemyHealAbility, #logEnemyAbilityAttack{
  color: red;
}

.enemyContainer{
  position: absolute;
  height: 600px;
  width: 324px;
  left: 648px;
  background: darkred;
}

#enemyName{
  text-align: center;
  color: white;
}
#playerName{
  text-align: center;
  color: white;
}


#itemContainer {
  height: 120px;
  width: 324px;
  top: 600px;
  left: 324px;
  display: flex;
  position: absolute;
}

#itemOne, #itemTwo, #itemThree{
  height: 120px;
  width: 110px;
  padding-left: 2px;
  padding-right: 2px;
}
#itemOne{
  background: yellow;
}
#itemTwo{
  background: green;
}
#itemThree{
  background: red;
}

#playerStats {
  height: 120px;
  width: 326px;
  top: 400px;
  position: relative;
  background: blue;
  text-align: center;
  color: white;
}

#playerAttackStats, #playerVitStats, #playerArmorStats, #playerAbilityStats{
  text-align: left;
  padding-top: 5px;
  line-height: 50%;
  top: 10px;
}

#enemyAttackStats, #enemyVitStats, #enemyArmorStats, #enemyAbilityStats{
  text-align: left;
  padding-top: 5px;
  line-height: normal;
  line-height: 50%;
}
#enemyStats {
  height: 120px;
  width: 323px;
  top: 498px;
  position: relative;
  background: orange;
  text-align: center;
  color: white;
}



body {
  background-color: lightblue;
}
